In [12]:
import pymongo

In [13]:
# connect to mongo db
dbConn=pymongo.MongoClient("mongodb://localhost:27017/")

In [14]:
#Given name to Database 
dbname='ineron'

In [15]:
db=dbConn[dbname]

In [16]:
#Showing lists of databases 
dbConn.list_database_names()

['admin', 'config', 'local']

In [18]:
#Given name to colletion
Collection_name='mongo_demo'

In [19]:
# Adding collection to database
collection=db[Collection_name]

In [11]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [20]:
for key,value in enumerate(my_row):
    print(f'{key}:{value}')

0:Serial No
1:GRE Score
2:TOEFL Score
3:University Rating
4:SOP
5:LOR
6:CGPA
7:Research
8:Chance of Admit

In [21]:
Col=collection.insert_one(my_row)

In [23]:
Col.inserted_id

ObjectId('642ab71d4bc7896c5fbb207e')

In [31]:
res=collection.find()

In [32]:
for key,value in enumerate(res):
    print(f'{key}:{value}')

0:{'_id': ObjectId('642ab71d4bc7896c5fbb207e'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [33]:
res

In [34]:
#list of document
my_rows=[
    {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},

 {'Serial No': '1000',
 'GRE Score': '310',
 'TOEFL Score': '100',
 'University Rating': '2',
 'SOP': '4.2',
 'LOR': '3.5',
 'CGPA': '9.00',
 'Research': '0',
 'Chance of Admit': '0.70'}]

In [35]:
my_rows

[{'Serial No': '9998',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.65',
  'Research': '1',
  'Chance of Admit': '0.92'},
 {'Serial No': '1000',
  'GRE Score': '310',
  'TOEFL Score': '100',
  'University Rating': '2',
  'SOP': '4.2',
  'LOR': '3.5',
  'CGPA': '9.00',
  'Research': '0',
  'Chance of Admit': '0.70'}]

In [36]:
# passing many documents to collection
result=collection.insert_many(my_rows)

In [37]:
# fetch the records
result=collection.find()

In [38]:
# looping through records for printing
for key,value in enumerate(result):
    print(f'{key}:{value}')

0:{'_id': ObjectId('642ab71d4bc7896c5fbb207e'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
1:{'_id': ObjectId('642abc574bc7896c5fbb207f'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
2:{'_id': ObjectId('642abc574bc7896c5fbb2080'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}

In [44]:
res=collection.find()

In [45]:
#indexing is possible
res[1]

{'_id': ObjectId('642abc574bc7896c5fbb207f'),
 'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [46]:
res[2]

{'_id': ObjectId('642abc574bc7896c5fbb2080'),
 'Serial No': '1000',
 'GRE Score': '310',
 'TOEFL Score': '100',
 'University Rating': '2',
 'SOP': '4.2',
 'LOR': '3.5',
 'CGPA': '9.00',
 'Research': '0',
 'Chance of Admit': '0.70'}

In [47]:
# showing only limited values
result_record=collection.find().limit(2)

In [48]:
for i in result_record:
    print(i)

{'_id': ObjectId('642ab71d4bc7896c5fbb207e'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('642abc574bc7896c5fbb207f'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [49]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '340',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '317',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [53]:
result=collection.find()

In [54]:
for i in result:
    print(i)

{'_id': ObjectId('642ab71d4bc7896c5fbb207e'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('642abc574bc7896c5fbb207f'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('642abc574bc7896c5fbb2080'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('642ac0db4bc7896c5fbb2081'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('642ac0db4bc7896c5fbb2082'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('642ac0db4bc7896c5fbb2083'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('642ac0db4bc7896c5fbb2084'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('642ac0db4bc7896c5fbb2085'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}